name: Publish Docker Images

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME_DATA: mmo_data

jobs:
  push_to_registry:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    environment: DockerHub

    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
  
    - name: Build and push data image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME_DATA }}:latest
